[submodule "EQ2LuaEditor"]
	path = EQ2LuaEditor
	url = https://github.com/EQ2Emulator-net/EQ2LuaEditor
[submodule "ContentBar"]
	path = ContentBar
	url = https://github.com/EQ2Emulator-net/ContentBar
[submodule "CoinCalculator"]
	path = CoinCalculator
	url = https://github.com/EQ2Emulator-net/CoinCalculator
[submodule "DialogLogParser"]
	path = DialogLogParser
	url = https://github.com/EQ2Emulator-net/DialogLogParser
[submodule "EQ2EmuEditors"]
	path = EQ2EmuEditors
	url = https://github.com/EQ2Emulator-net/EQ2EmuEditors
[submodule "EQ2EmuServerWrapper"]
	path = EQ2EmuServerWrapper
	url = https://github.com/EQ2Emulator-net/EQ2EmuServerWrapper
[submodule "MLG"]
	path = MLG
	url = https://github.com/EQ2Emulator-net/MLG
[submodule "ZamRecipeParser"]
	path = ZamRecipeParser
	url = https://github.com/EQ2Emulator-net/ZamRecipeParser
[submodule "QuestParser"]
	path = QuestParser
	url = https://github.com/EQ2Emulator-net/QuestParser
